.selectedPage{
  font-weight: bold;
}

span{
  cursor: pointer;
}

.pagination{
  margin-bottom: 15px;
  width: 500px;
  overflow: hidden;
}
.pagination span{
  margin-right: 15px;
  text-align: center;
}